/*---------------------------------------------------
    SCSS Elements 0.1
  ---------------------------------------------------
    A set of useful SCSS mixins
  ---------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,700i&subset=cyrillic,cyrillic-ext");
@import url(http://allfont.ru/allfont.css?fonts=bauhaus-light);
.container {
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 940px;
  }
}

@media (min-width: 1150px) {
  .container {
    width: 1050px;
  }
}

@media (min-width: 1250px) {
  .container {
    width: 1170px;
  }
}

/*** reset ***********/
html, body, ul, ol, li, dl, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, a, img, label {
  margin: 0;
  padding: 0;
  border: 0;
}

header, section, footer, aside, nav, article {
  display: block;
}

ul {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  color: #5c5c5c;
  flex-flow: column;
  font-display: swap;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

html, body {
  height: 100%;
}

*:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.outerwrapper {
  -webkit-flex: 1;
  flex: 1;
}

/*** standart classes *****/
a {
  color: #020000;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

*:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@font-face {
  font-family: 'BauhausLightCTT';
  src: url("../fonts/bauhauslightctt.woff") format("woff"), url("../fonts/bauhauslightctt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneuecyrbold';
  src: url("../fonts/helveticaneuecyr-bold.woff2") format("woff2"), url("../fonts/helveticaneuecyr-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.tdn {
  text-decoration: none;
}

.tdn:hover {
  text-decoration: underline;
}

.tdu, .about .text .more {
  text-decoration: underline;
}

.tdu:hover, .about .text .more:hover {
  text-decoration: none;
}

.before, .header nav ul li:after, .cat-gallery a:after, .cat-gallery a:before {
  content: "";
  display: block;
  position: absolute;
}

.form-control {
  border: 1px solid #f0f8ee;
  border-radius: 0;
  margin-top: 0.6rem;
  font-size: 16px;
}

.form-control:focus, .form-control:active {
  border-color: #208209;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3);
}

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.submit {
  cursor: pointer;
}

.show-sm {
  display: none;
}

.text-center {
  text-align: center;
}

.navbar-toggle,
.close-menu {
  display: none;
}

/* =top
---------------------------*/
.top {
  background: #f0f8ee;
  padding: .6rem 0 .4rem;
  border-bottom: 1px solid #e2e2e2;
  text-align: right;
}

.top a {
  display: inline-block;
  background: url(../images/social-bg.png) no-repeat left top;
  height: 25px;
  width: 25px;
  text-align: center;
}

.top a img {
  vertical-align: top;
}

/* =/top
---------------------------*/
/* =header
---------------------------*/
.header .flexbox {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  min-height: 96px;
}

.header .logo img {
  vertical-align: top;
}

.header nav {
  font-size: 15px;
  font-size: 1.5rem;
}

.header nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.header nav ul a {
  text-decoration: none;
}

.header nav ul li {
  position: relative;
  padding-right: 2.3rem;
}

.header nav ul li.active {
  font-size: 18px;
  font-size: 1.8rem;
  color: #208209;
  cursor: default;
  font-weight: bold;
}

.header nav ul li:last-child {
  padding-right: 0;
}

.header nav ul li:last-child:after {
  display: none;
}

.header nav ul li:after {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #424242;
  right: .9rem;
  top: 8px;
}

.header nav ul li a {
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.header nav ul li a:hover {
  color: #208209;
}

/* =/header
---------------------------*/
/* =navigation
---------------------------*/
/* =/navigation
---------------------------*/
.owl-carousel .owl-controls {
  position: absolute;
  width: 100%;
  top: 115px;
}

.owl-carousel .owl-controls .owl-buttons .owl-prev,
.owl-carousel .owl-controls .owl-buttons .owl-next {
  background: url(../images/prevnext.png) no-repeat left top;
  width: 65px;
  height: 65px;
  position: absolute;
}

.owl-carousel .owl-controls .owl-buttons .owl-prev {
  left: -110px;
}

.owl-carousel .owl-controls .owl-buttons .owl-next {
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  right: -110px;
}

/* =main
---------------------------*/
/* =footer
---------------------------*/
footer {
  border-top: 1px solid #e2e2e2;
  padding: 2.5rem 0;
}

/* =/footer
---------------------------*/
#to-top {
  bottom: 13px;
  left: 50%;
  margin-left: 545px;
  position: fixed;
}

#foo1 .slide {
  font-size: 30px;
  font-size: 3rem;
  color: #fff;
  height: 700px;
  line-height: 1.2;
}

#foo1 .slide .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#foo1 .slide-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  padding-bottom: 5.5rem;
}

#foo1 .slide-title {
  font-size: 48px;
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 1.2;
}

#foo1 .slide .bg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

#foo1 .owl-nav {
  position: absolute;
  top: calc(50% - 37px);
  width: 100%;
}

#foo1 .owl-nav .owl-prev,
#foo1 .owl-nav .owl-next {
  background: url(../images/owl-arrow.png) no-repeat left top;
  height: 76px;
  left: 50%;
  position: absolute;
  top: 0;
  width: 27px;
}

#foo1 .owl-nav .owl-prev {
  margin-left: -585px;
}

#foo1 .owl-nav .owl-next {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-left: 585px;
}

.about h1,
.publications h1,
.gallery h1 {
  font-family: 'BauhausLightCTT';
}

/* =about
---------------------------*/
.about {
  margin-bottom: 10rem;
}

.about header {
  color: #208209;
  text-align: center;
  margin: 7rem 0 9.5rem;
}

.about header h1 {
  font-size: 36px;
  font-size: 3.6rem;
  font-weight: normal;
}

.about .item {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  border-radius: 5px;
  margin: 4rem 0;
}

.about .item-left .num {
  left: 288px;
}

.about .item-right .pic {
  order: 1;
}

.about .item-right .num {
  right: 288px;
}

.about .item-right .text {
  order: 0;
  padding-right: 8.5rem;
  text-align: right;
}

.about .num {
  font-size: 60px;
  font-size: 6rem;
  background-color: #208209;
  border-radius: 8px;
  border: 2px solid #fff;
  color: #fff;
  font-family: Georgia;
  font-weight: bold;
  height: 105px;
  line-height: 1;
  padding-top: 1.3rem;
  position: absolute;
  text-align: center;
  top: calc(50% - 56px);
  width: 105px;
}

.about h2 {
  color: #208209;
  font-size: 18px;
  font-size: 1.8rem;
}

.about a {
  color: #208209;
}

.about .pic {
  position: relative;
}

.about .pic img {
  vertical-align: top;
}

.about .text {
  line-height: 1.6;
  flex-grow: 1;
  padding-left: 7.5rem;
  padding-right: 4rem;
}

.about .text h2 {
  padding-bottom: .5rem;
}

.about .text .more {
  font-weight: bold;
}

/* =/about
---------------------------*/
.publications header,
.gallery header,
.about header {
  text-align: center;
}

.publications header h1,
.gallery header h1,
.about header h1 {
  font-weight: normal;
}

/* =publications
---------------------------*/
.publications {
  background-color: #f1f8fb;
  padding: 3.5rem 0 4.5rem;
  line-height: 1.6;
}

.publications header {
  padding-bottom: 6rem;
}

.publications header h1 {
  color: #398eab;
}

.publications ol {
  list-style-position: inside;
}

.publications h2 {
  padding-bottom: .5rem;
}

.publications .more {
  padding-top: 7rem;
  text-align: center;
}

.publications .more-btn {
  font-size: 18px;
  font-size: 1.8rem;
  background-color: #398eab;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: .5rem 2rem;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.publications .more-btn:hover {
  opacity: .8;
}

/* =/publications
---------------------------*/
/* =gallery
---------------------------*/
.gallery {
  background-color: #398eab;
  padding: 8.5rem 0 13rem;
}

.gallery header {
  margin-bottom: 10rem;
}

.gallery h1 {
  color: #fff;
}

.gallery .row {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.gallery .cell {
  font-size: 26px;
  font-size: 2.6rem;
  background-color: #165267;
  color: #fff;
  flex-basis: 25%;
  text-align: center;
  font-weight: bold;
  height: 255px;
  overflow: hidden;
}

.gallery .cell img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.gallery .cell p {
  margin-top: 1rem;
}

.gallery .cell-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  flex-direction: column;
}

.gallery .cell-photo img {
  width: 100%;
  height: auto;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.gallery .cell-photo:hover img {
  transform: scale(1.1);
}

/* =/gallery
---------------------------*/
.content .title {
  background: #011844 url(../images/title-bg.jpg) no-repeat left top/cover;
  min-height: 90px;
}

.content h1 {
  font-family: 'helveticaneuecyrbold';
  color: #fff;
  padding: 2.9rem 0 2rem;
}

.content .bauhaus,
.content .bauhaus h1 {
  font-family: 'BauhausLightCTT', arial;
  font-weight: normal;
}

.content main {
  line-height: 1.5;
  margin-top: 1rem;
  padding: 3.5rem 0 4.3rem;
}

.content main h2 {
  color: #208209;
}

.content main p {
  margin: .8rem 0;
}

/* =subnav
---------------------------*/
.subnav {
  font-size: 15px;
  font-size: 1.5rem;
  margin: 4.5rem 0 3.5rem;
}

.subnav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.subnav ul li {
  margin-right: 3.5rem;
}

.subnav ul li:last-child {
  margin-right: 0;
}

.subnav ul li a {
  text-decoration: none;
}

.subnav ul li a:hover {
  color: #208209;
}

.subnav ul li.active {
  font-size: 16px;
  font-size: 1.6rem;
  color: #208209;
  font-weight: bold;
}

/* =/subnav
---------------------------*/
/* =cat-gallery
---------------------------*/
.cat-gallery {
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.cat-gallery a {
  flex-basis: 24%;
  margin-bottom: 1.2rem;
  position: relative;
}

.cat-gallery a img {
  width: 100%;
}

.cat-gallery a:hover:after, .cat-gallery a:hover:before {
  opacity: 1;
}

.cat-gallery a:hover .tooltip {
  opacity: 1;
}

.cat-gallery a:after, .cat-gallery a:before {
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

.cat-gallery a:before {
  background: url(../images/zoom.png) no-repeat;
  width: 58px;
  height: 58px;
  z-index: 100;
  left: 50%;
  top: 50%;
  margin-left: -28px;
  margin-top: -38px;
}

.cat-gallery a:after {
  background-color: rgba(255, 255, 255, 0.75);
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}

.cat-gallery a .tooltip {
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  font-size: 16px;
  font-size: 1.6rem;
  bottom: 10px;
  color: #208209;
  display: block;
  left: 12px;
  position: absolute;
  z-index: 101;
  opacity: 0;
}

/* =/cat-gallery
---------------------------*/
/* =pagination
---------------------------*/
.pagination {
  font-size: 18px;
  font-size: 1.8rem;
  text-align: right;
  margin: 2.3rem 0;
}

.pagination a, .pagination span {
  display: inline-block;
  text-decoration: none;
  margin: 0 .3rem;
}

.pagination span {
  color: #208209;
}

.pagination .prev,
.pagination .next {
  background: url(../images/prevnext.png) no-repeat left 0px;
  height: 25px;
  position: relative;
  top: -2px;
  vertical-align: top;
  width: 9px;
}

.pagination .prev:hover,
.pagination .next:hover {
  background-position: -11px top;
}

.pagination .prev.disable,
.pagination .next.disable {
  background-position: -11px top;
}

.pagination .prev {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* =/pagination
---------------------------*/
::-ms-clear {
  display: none;
}

@media (max-width: 1150px) {
  #to-top {
    margin-left: 430px;
  }
}

@media (max-width: 768px) {
  .header .flexbox {
    min-height: 69px;
  }
  .header nav {
    display: none;
    position: absolute;
  }
  .header .logo {
    margin-left: auto;
    margin-right: auto;
  }
  .header .logo img {
    width: 95%;
  }
  .navbar-toggle {
    background-color: #208209;
    border: none;
    cursor: pointer;
    display: block;
    height: 70px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 35px;
    width: 70px;
    z-index: 99;
  }
  .navbar-toggle .icon-bar {
    background-color: #fff;
    display: block;
    height: 2px;
    margin: 8px auto;
    width: 30px;
  }
  .navbar-toggle:hover {
    opacity: .8;
  }
  .o-menu .close-menu {
    display: block;
    transform: translate(0, 0);
  }
  .o-menu #navbar {
    display: block;
    transform: translate(-15px, 0);
    z-index: 9999;
  }
  .close-menu {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    display: block;
    transform: translate(-320px, 0);
    background: none;
    cursor: pointer;
    padding: 0;
    left: 215px;
    background-color: #208209;
    border: none;
    height: 70px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 70px;
    z-index: 99;
  }
  #navbar {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background-color: #208209;
    color: #208209;
    display: block;
    left: 0;
    padding-top: 12px;
    position: absolute;
    top: 0;
    transform: translate(-305px, 0);
    width: 230px;
  }
  #navbar .container {
    padding: 0;
  }
  #navbar ul {
    background: none;
    display: block;
    font-size: 15px;
    margin-top: 0;
    padding-left: 15px;
  }
  #navbar ul li {
    border-bottom: 1px solid #fff;
  }
  #navbar ul li a, #navbar ul li span {
    color: #fff;
    display: block;
    height: auto;
    line-height: normal;
    padding: 18px 0 18px 10px;
    text-decoration: none;
    text-transform: none;
  }
  #navbar ul li a:hover, #navbar ul li span:hover {
    color: #fff;
    text-decoration: underline;
  }
  #navbar ul li.active, #navbar ul li:hover {
    border-bottom: 1px solid #fff;
    color: #fff;
  }
  #navbar ul li.active a, #navbar ul li.active span, #navbar ul li:hover a, #navbar ul li:hover span {
    background: none;
  }
  #navbar ul li:after {
    display: none;
  }
}

@media (max-width: 450px) {
  .top {
    text-align: center;
  }
}

@media (max-width: 1500px) {
  #foo1 .slide {
    height: 600px;
  }
}

@media (max-width: 1250px) {
  #foo1 .slide {
    height: 520px;
  }
  #foo1 .owl-nav .owl-prev {
    margin-left: -500px;
  }
  #foo1 .owl-nav .owl-next {
    margin-left: 470px;
  }
}

@media (max-width: 1150px) {
  #foo1 .slide {
    height: 450px;
  }
  .gallery .cell {
    height: 230px;
  }
}

@media (max-width: 1024px) {
  #foo1 .slide {
    height: 400px;
  }
  #foo1 .slide-inner {
    padding-left: 50px;
  }
  #foo1 .owl-nav .owl-prev {
    margin-left: -470px;
  }
  #foo1 .owl-nav .owl-next {
    margin-left: 440px;
  }
}

@media (max-width: 991px) {
  #foo1 .slide {
    height: 370px;
  }
  #foo1 .owl-nav .owl-prev {
    margin-left: -400px;
  }
  #foo1 .owl-nav .owl-next {
    margin-left: 370px;
  }
  .gallery .row {
    flex-wrap: wrap;
  }
  .gallery .cell {
    height: 250px;
    flex-basis: 50%;
  }
  .about .text {
    line-height: 1.3;
    font-size: 13px;
    font-size: 1.3rem;
    padding-right: 2.5rem;
    padding-left: 6rem;
  }
}

@media (max-width: 820px) {
  #foo1 .slide {
    height: 320px;
  }
  #foo1 .owl-nav .owl-prev {
    margin-left: -360px;
  }
  #foo1 .owl-nav .owl-next {
    margin-left: 330px;
  }
}

@media (max-width: 768px) {
  #foo1 .slide {
    font-size: 22px;
    font-size: 2.2rem;
  }
  #foo1 .slide-title {
    font-size: 36px;
    font-size: 3.6rem;
  }
  #foo1 .owl-nav .owl-prev {
    margin-left: -340px;
  }
  #foo1 .owl-nav .owl-next {
    margin-left: 310px;
  }
  .about header {
    margin: 4rem 0;
  }
  .about .item {
    display: block;
    padding-top: 2rem;
    text-align: center;
  }
  .about .item .num {
    display: none;
  }
  .about .item .text {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.6;
    text-align: center;
    padding: 1.5rem 15%;
  }
}

@media (max-width: 710px) {
  #foo1 .owl-nav .owl-prev {
    margin-left: -315px;
  }
  #foo1 .owl-nav .owl-next {
    margin-left: 285px;
  }
}

@media (max-width: 655px) {
  #foo1 .owl-nav .owl-prev {
    margin-left: -285px;
  }
  #foo1 .owl-nav .owl-next {
    margin-left: 255px;
  }
  .about {
    margin-bottom: 5rem;
  }
  .publications header {
    padding-bottom: 3rem;
  }
  .gallery {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
  .gallery header {
    margin-bottom: 4rem;
  }
}

@media (max-width: 600px) {
  #foo1 .owl-nav .owl-prev {
    margin-left: -255px;
  }
  #foo1 .owl-nav .owl-next {
    margin-left: 225px;
  }
}

@media (max-width: 555px) {
  #foo1 .slide {
    height: auto;
  }
  #foo1 .slide-inner {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #foo1 .slide-title {
    font-size: 22px;
    font-size: 2.2rem;
  }
  #foo1 .slide-text {
    font-size: 16px;
    font-size: 1.6rem;
  }
  #foo1 .slide-inner {
    padding-left: 0;
  }
  #foo1 .owl-nav {
    display: none;
  }
  .gallery {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
  .gallery header {
    margin-bottom: 5rem;
  }
  .gallery .cell {
    height: auto;
  }
}

@media (max-width: 450px) {
  .about .pic img {
    max-width: 90%;
  }
  .gallery .cell-title {
    font-size: 20px;
    font-size: 2rem;
  }
}

@media (max-width: 350px) {
  .gallery .cell-title {
    font-size: 16px;
    font-size: 1.6rem;
  }
  .publications {
    text-align: justify;
  }
}
