::-ms-clear {
        display: none;
}


// safari
_::-webkit-:host:not(:root:root), .header{
}


// edge
@supports (-ms-ime-align:auto) {
}


//ie11
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	body{
		display: block;
	}
	.top a{
		vertical-align: top;
	}
	.outerwrapper{
		display: block !important;
		flex: 0;
	}
	.header{
		.logo{
			margin-top: 2rem;
		}
		nav{
			margin-top: 1.5rem;
		}
	}

	.content main{
		display: block;
	}


	@media (max-width: 768px){
		.header{
			.logo{
				margin-top: 1rem;
			}
		}
	}
}


.ie10{
	body{
		display: block;
	}
	.top a{
		vertical-align: top;
	}
	.outerwrapper{
		display: block !important;
		flex: 0;
	}
	.header{
		.logo{
			display: block;
			margin-top: 2rem;
		}
		nav{
			display: block;
			margin-top: 1.5rem;
		}
	}

	.content main{
		display: block;
	}
}