.content{
	.title{
		background: #011844 url(../images/title-bg.jpg) no-repeat left top / cover;
		min-height: 90px;
	}
	h1{
		font-family: 'helveticaneuecyrbold';
		color: $color2;
		padding: 2.9rem 0 2rem;
	}


	.bauhaus,
	.bauhaus h1
	{
		font-family: 'BauhausLightCTT', arial;
		font-weight: normal;
	}

	main{
		line-height: 1.5;
		margin-top: 1rem;
		padding: 3.5rem 0 4.3rem;
		h2{
			color: $color5;
		}
		p{
			margin: .8rem 0; 
		}
	}
}